*{
	margin: 0;
	padding: 0;
	list-style: none;
}
body{
	min-width: 1000px;
}
#app{
	margin-bottom: 500px;
}
/* 顶部绿色条 */
.topbar{
	background-color: #46bd55;
	height: 40px;
	line-height: 40px;
	color: white;
	padding: 0 20px;
}
.topbar-left{
	float: left;
}
.topbar-right{
	float: right;
}

.navbar{
	height: 70px;
	line-height: 70px;
	/* background-color: #999999; */
}
.clearfix
{
	content: "";
	clear: both;
}
.navbar .logo{
	margin-top: 15px;
	margin-left: 45px;
}
.fl{
	float: left;
}
.fr{
	float: right;
}


/* 2.顶部的导航条 */

a{	color: #666;text-decoration: none;}
a:hover{color: #00a2e9;}

li.nav-item{
	position: relative;
	display: inline-block;
	color: #666;
	height: 70px;
	width: 65px;
}
li.nav-item a{
	padding: 5px 10px;
}
li.nav-item a:hover{
	color: white;
	background-color: #46BD55;
}
/* 鼠标放到 a 上去的时候 子菜单显示 */
li.nav-item:hover .sub-list{
	display: block;
}
/* 子菜单 */
.sub-list{
	display: none;
	position: absolute;
	top: 70px;
	/* left: 100px; */
	background-color: #fff;
	padding: 5px;
	width: 90px;
	text-align: center;
	color: #000000;
	border:1px solid #999;
	/* box-shadow: 2px 2px 5px #999999; */
}
.sub-list-item{
	list-style: none;
	height: 35px;
	line-height: 35px;
	font-size: 14px;
}
.angle,
.sub-list:after{
	content: "";
	display: inline-block;
	position: absolute;
	top: -6px;
	left: 15px;
	width: 10px; 
	height: 10px; 
	background-color: #fff;
	transform: rotate(45deg);
	border:1px solid #999;
	border-bottom-color: transparent;
	border-right-color: transparent;
}

/* 轮播图 */
.carousel{
	width: 100%;
}
.carousel img{
	display: block;
	width: 100%;
}


/* 内容区域 */
.container{
	width: 900px;
	margin: 0 auto;
	text-align: center;
}

/* 卡片区域 */
.boxlist{
	margin: 0 auto;
	position: relative;
	top: -30px;
}
.boxlist-item{
	display: inline-block;
	margin: 0 10px ;
	height: 200px;
	width: 200px;
	/* border:1px solid #999999; */
	background-color: #f7f7f7;
	overflow: hidden;
	box-shadow: 0px 0px 2px #999;
	
}
.boxlist-item .icon{
	color: #46BD55;
	background-color: #fff;
	padding: 10px 0;
	border-bottom: 2px solid #46BD55;
}
.boxlist-item .icon .iconfont{
	font-size: 20px;
}
.boxlist-item .text{
	padding: 15px;
}
.boxlist-item .text h1{
	font-size: 16px;
	margin: 10px 0;
}
.boxlist-item .text p{
	font-size:12px;
	color: #999999;
}
/* 地址区域 */

.container .address h2{
	margin: 20px 0;
}
.container .address h2 span{
	color: #46BD55;
	margin-right: 5px;
}

.container .address p{
	color: #999999;
}

/* 4.3 图文展示区 */
.img-list{
	margin: 30px 0 40px;
}
.img-list-item{
	display: inline-block;
	width: 210px;
	height: 240px;
	border:1px solid transparent;
	text-align: left;
	padding: 3px;
}
/* 4.5 图文展示区 */
.img-list-item.big{
	width: 260px;
	height: 280px;
	margin: 10px;
}
.img-list-item:hover{
	border-color:#999;
}
.img-list-item img{
	width: 100%;
}
.img-list-item h2{
	color: #46BD55;
	font-size: 100%;
	padding: 8px 0;
}
.img-list-item p{
	color: #999999;
}