*{
				margin: 0;
				padding: 0;
			}
			body{background-color: #eee;}
			nav{
				/* position: relative; */
			}
			a{	color: #666;text-decoration: none;}
			a:hover{color: #00a2e9;}
			
			li.nav-item{
				position: relative;
				display: inline-block;
				color: #666;
				height: 40px;
				width: 65px;
			}
			li.nav-item:hover{
				color: #00a2e9;
			}
			/* 鼠标放到 a 上去的时候 子菜单显示 */
			li.nav-item:hover .sub-list{
				display: block;
			}
			/* 子菜单 */
			.sub-list{
				display: none;
				position: absolute;
				top: 28px;
				/* left: 100px; */
				background-color: #fff;
				padding: 10px;
				width: 70px;
				text-align: center;
				color: #000000;
			}
			.sub-list-item{
				list-style: none;
				height: 35px;
				line-height: 35px;
				font-size: 14px;
			}
			.angle,
			.sub-list:after{
				content: "";
				display: inline-block;
				position: absolute;
				top: -4px;
				left: 15px;
				/*
				width: 10px; 
				height: 10px; 
				*/
				/* background-color: #FF0000; */
				transform: rotate(45deg);
				border:6px solid #fff;
				border-bottom-color: transparent;
				border-right-color: transparent;
			}