/* 一、元素(标签) 选择器 */
			h1{
				background-color: skyblue;
			}
			p{
				margin: 50px;/*上下左右*/
				background-color: #87CEEB;
			}
			/**
			 * 二、ID属性选择器对应符号“#”，在整个系统范围理论唯一
			 */
			#p1{
				color: red;
			}
			/**
			 * 三、class 类选择器 对应符号 "."，在整个系统中允许重复使用
			 */
			.color{
				color: forestgreen;
				
			}
			.nomargin{
				margin: 0;
				font-size: 30px;
				
			}