.match_menu li a, .match_menu li .select, .mc_list li .people, .schedule_bg, .schedule_box, .schedule,  .schedule i, .mc_more .down i, .mc_more .up i, .process .player, .process .winner i, .process .mc_admin .add, .process .champion i, .mc_list li .pic i,.process .zhushi em, .mc_table .name .zhushi em{background:url(../img/match.png) no-repeat}
.match{ width:980px; margin:0px auto}
.match_tt{height:50px;}
.match_menu{ float:left}
.match_menu li{ float:left; padding-right:20px;}
.match_menu li a{background-position: -112px -48px; width:108px; line-height:32px; font-size:16px;    height:33px; text-align:center; display:block}
.match_menu li a:hover{ text-decoration:none}
.match_menu li .select{background-position: 0px -48px;color:#fff;}
.match_sch{ float:right}
.match_sch .search_bg {
    background: url("/images/front/kpsearch_bg.png") no-repeat;
    height: 34px;
    position: relative;
    width: 214px;
    z-index: 1;
	float:left;
}
.match_sch .txt {
    background: url("empty.png") repeat;
    border: 0 none;
    color: rgb(68, 68, 68);
    font-size: 14px;
    height: 21px;
    left: 10px;
    line-height: 21px;
    outline: medium none;
    position: absolute;
    top: 4px;
    width:176px;
    z-index: 2;
}
.match_sch label {
    color: rgb(170, 170, 170);
    font-size: 14px;
    left: 10px;
    position: absolute;
    top: 3px;
    width: 176px;
    z-index: -1;
}
.match_sch .btn {
    background: url("/images/front/kpsearch_bg.png") no-repeat -225px 0px;
    border: 0 none;
    height: 24px;
    position: absolute;
    right: 5px;
    top: 1px;
    width: 24px;
}
.match_sch .senior_sch{ float:left; padding-left:20px;  padding-top:7px; width:60px; font-size:14px}

.mc_list{ width:980px; overflow:hidden;}
.mc_list ul{ width:1050px;}
.mc_list li{float:left; width:252px; height:300px;}
.mc_list li .pic{ width:224px; height:168px; position:relative}
.mc_list li .pic i{ width:24px; height:24px; display:block; position:absolute;  top:5px ; right:5px; background-position:-144px -130px;}
.mc_list li .pic img{ width:224px; height:168px;}
.mc_list h3{ font-weight:normal; width:224px; font-size:14px; padding-top:5px; height:44px; display:block}
.mc_list li .text{ height:48px; width:224px; position:relative; z-index:1}
.mc_list span{ display:block; width:224px; height:22px;}
.mc_list span font{ color:#999}
.mc_list li .people{ position:absolute; right:0px; top:20px; font-size:14px; position:absolute;background-position: 0px -22px; height:20px; padding-left:20px;}
.schedule_bg{background-position:; width:224px; height:10px; position:relative; overflow:hidden}
.schedule_box{width:214px; position:relative;}
.schedule{position:absolute;background-position: 0px -10px;height:10px; padding-left:5px; }
.schedule i{display:block; width:5px; height:10px; position:absolute; background-position: -219px -10px; right:-5px;}
.match_add{ width:898px; margin:0px auto; margin-top:20px; background:#fff; border:1px #ddd solid; padding:20px 40px;}
.match_add dl{ margin-bottom:20px; padding-bottom:20px; float:left; width:100%; background:url(dashed.gif) repeat-x bottom}
.match_add dt{ float:left; font-size:14px; padding-right:10px;  width:90px; text-align:right; line-height:24px; color:#777}
.match_add dd{ float:left}
.match_add  .inpt{border: 1px solid #ddd;
    padding:2px 5px;
	height:20px;
	line-height:20px;
	width:300px;
	font-size:14px;}
.match_add  .inpt1{border: 1px solid #ddd;
    padding:2px 5px;
	height:400px;
	line-height:20px;
	width:600px;
	font-size:14px;}
.match_add  dt i{ font-style:normal; color:#c30; padding:5px;}	
.match_add .rem{ padding:0px; padding-left:10px; float:left}

.match_add .gmname dd{position:relative}
.match_add .gmname dd .gm_box{border:1px #ddd solid; position:absolute; top:25px; background:#fff}
.match_add .gmname dd .gm_box a{ float:left; width:290px; height:24px; line-height:24px; padding:0px 10px; font-size:14px}
.match_add .gmname dd .gm_box a:hover{ background:#f0f0f0; text-decoration:none}
.match_add .gmname dd span{ float:left; line-height:24px; height:24px; color:#888; padding-left:10px;}
.match_add .system { font-size:14px}
.match_add .system  dd{ float:left}
.match_add .system  .show{ line-height:24px}
.match_add .system  .show span{ padding-right:20px;}
.match_add .system  dd label{ float:left}
.match_add .system  dd label input{ height:16px; width:24px; float:left}
.match_add .system  dd label span{ height:16px; line-height:16px; float:left; font-size:14px; width:48px;}
.match_add .system_tt{height:24px; padding-top:3px;}
.league{ padding-top:10px; height:28px}
.league_01{ float: left}
.league_02{ float: left}
.league_02 span{ float:left; padding:0px 10px; line-height:24px;}
.league_02 input{ width:48px; float:left; height:24px; border:1px #ddd solid}
.knockouts{padding-top:10px; height:28px}
.knockouts span{ float:left; padding:0px 10px; line-height:24px}
.knockouts select{ float:left; margin-right:10px}
.cover{ height:168px;}
.cover dd{ float:left;}
.cover dd .pic{width:224px; height:168px; border:1px #ddd solid}
.cover dd .pic img{width:224px; height:168px;}
.tishi00{ color:#999; padding:5px 10px;}
.actor_btn{background: url(/images/front/public_btn.png) no-repeat -98px -112px; width:62px; height:24px; border:0px; margin-left:10px; cursor:pointer; float:left; text-align:center; line-height:24px}
.actor_btn:hover{ text-decoration:none;}
.actor{ margin-top:20px;}
.actor .actor_tb{background:#ddd; width:285px; }
.actor table{border-collapse: separate;
    border-spacing: 1px; font-size:14px}
.actor td{ background:#fff; padding:2px 5px;}

.match_add .btn, .match_add .btn_ing{ background: url("/images/front/sub.png") no-repeat;}
.match_add .btn {
    background-position: 0 -40px;
    border: 0 none;
    display: inline-block;
    float: left;
    height: 41px;
    padding-left: 14px;
    width: 165px;
	cursor:pointer
}
.match_add .btn:hover {
    background-position: 0 -85px;
}
.match_add .btn_ing{
    background-position: 0 -540px;
	border: 0 none;
    display: inline-block;
    float: left;
    height: 41px;
    padding-left: 14px;
    width: 165px;
	cursor:pointer
}

.lock{ width:280px; padding:30px 10px}
.lock li{ float:left; line-height:24px; width:280px; padding-bottom:10px;}
.lock li .lock_t{ float:left; padding-right:5px; padding-left:10px; font-size:16px}
.lock li .text{ float:left; width:200px; height:20px; line-height:20px; border:1px #ddd solid; padding:2px 5px;}
.lock .shx{ padding:10px; width:270px;}
.lock .shx label{ height:24px; padding-right:20px; float:left}
.lock .shx input{ float:left; height:16px; height:16px;}
.lock .shx span{float:left; height:16px; line-height:16px; padding-left:5px;}
.lock_btnbox{padding-top:10px; height:24px;  text-align:center; padding-left:64px;}
.lock_btn{text-align:center; color:#FFF; line-height:24px; padding:2px 21px;  display: inline-block; background:url(/images/front/public_btn.png) no-repeat -96px 0px; float:left}
.lock_btn:hover{color:#FFF; background:url(/images/front/public_btn.png) no-repeat -96px -30px; text-decoration:none;}

.high_sh{ width:400px; padding:30px 10px}
.high_sh li{ float:left; line-height:24px; width:400px; padding-bottom:10px;}
.high_sh li .high_sh_t{ float:left; padding-right:5px; padding-left:10px; font-size:16px}
.high_sh li .text{ float:left; width:290px; height:20px; line-height:20px; border:1px #ddd solid; padding:2px 5px;}
.high_sh .shx{ padding:10px; width:390px;}
.high_sh .shx label{ height:24px; padding-right:20px; float:left}
.high_sh .shx input{ float:left; height:16px; height:16px;}
.high_sh .shx span{float:left; height:16px; line-height:16px; padding-left:5px;}
.mcsch_btnbox{padding-top:10px; height:24px;  text-align:center;}
.mcsch_btn{text-align:center; color:#FFF; line-height:24px; padding:2px 21px;  display: inline-block; background:url(/images/front/public_btn.png) no-repeat -96px 0px;}
.mcsch_btn:hover{color:#FFF; background:url(/images/front/public_btn.png) no-repeat -96px -30px; text-decoration:none;}

.match_dt{ margin:0px auto; margin-top:5px; background:#fff; border:1px #ddd solid; padding:20px 20px; overflow:hidden}
.match_dt .match_intro{ height:120px;}
.match_intro .pic{float:left; width:224px; height:168px;}
.match_intro .pic img{ width:224px; height:168px;}
.intro_box{float:left; padding-left:20px;}
.match_intro h1{ height:36px; border-bottom:1px #ddd dotted; display:block; font-size:20px; font-weight:normal; color:#C30}
.match_intro .summary{ padding-top:10px; font-size:14px; width:680px;}
.match_intro .summary dl{  width:680px; height:24px;}
.match_intro .summary dt{ float:left;}
.match_intro .summary dd{ float:left;}
.match_intro .summary .percent{ padding-left:5px;}
.match_intro .summary .dutiao{ padding-top:5px;}
.match_txt{border-top:1px #ddd solid; padding-top:10px; line-height:24px; font-size:14px}
.mc_more{ padding-top:10px}
.mc_more span{ float:right}
.mc_more .down{ width:64px; height:24px; float:right; line-height:24px;}
.mc_more .down i{ background-position: -24px -128px; height:24px; width:24px; float:right}

.mc_more .up{ width:64px; height:24px; float:right; line-height:24px;}
.mc_more .up i{ background-position: -48px -128px; height:24px; width:24px; float:right}
.process{ padding-top:10px; overflow:hidden}
.mc_more a:hover{ text-decoration:none}

.process{ padding-top:10px; overflow: hidden}
.process li{position:relative; float:left;}
.process .player{background-position: 0px -288px; height:50px; line-height:45px; padding-left:8px; font-size:14px; position:relative; z-index:2}
.process .zhushi{position: absolute; top:24px; left:0px; padding:0px 0px 0px 8px; width:150px; height:18px; overflow:hidden; line-height:18px; color:#999; font-size:12px; z-index:11;}
.process .zhushi_bg{background:url(/images/front/player_zhushi_bg.png) no-repeat left bottom; padding-bottom:10px;}
.process .zhushi em{ background-position:-168px -130px; width:16px; height:16px; display:none; position:absolute; right:10px; top:0px; display:none; cursor:pointer;  z-index:12}
.process .zhushi font{ display: block; width:110px; overflow:hidden; height:18px; font-weight:normal; font-size:12px; float:left}
.zsedit{ padding-top:10px;}
.zsedit .shming{ font-size:14px; color:#666; height:32px;}
.zsedit li{ float:left; width:450px; padding:10px 0px}
.zsedit li label{ float: left; text-align:right; font-size:14px; padding-right:10px; height:26px; line-height:25px; width:120px;}
.zsedit li input{ float: left; background:#fff; border:1px #ddd solid; padding:2px 5px; line-height:18px; height:22px; width:300px;}
.zsedit .zsedit_btn{text-align:center; color:#FFF; line-height:23px; font-size:14px; padding:2px 20px;  display: inline-block; background:url(/images/front/public_btn.png) no-repeat -96px 0px; float:left}
.zsedit .zsedit_btn:hover{color:#FFF; background:url(/images/front/public_btn.png) no-repeat -96px -30px; text-decoration:none;}
.zsedit .zsedit_btned{text-align:center; color:#999; line-height:23px; font-size:14px; padding:2px 20px;  display: inline-block; background:url(/images/front/public_btn.png) no-repeat -96px -280px; float:left}
.process .line{position: absolute; top:23px;  border:1px #ccc solid; border-left:0px;  z-index:1}
.player  span{ display:block; position:absolute; top:2px; right:20px; width:14px; height:24px; line-height:24px; text-align:center;}
.process .winner i{ display:block; position:absolute; top:2px; right:32px; background-position: 0px -130px; width:24px; height:24px; }
.process .champion i{ display:block; position:absolute; top:2px; right:32px; background-position:-120px -130px; width:24px; height:24px; }
.process .mc_admin .add{ display:block; position:absolute; top:2px; right:32px; background-position: -72px -130px; width:24px; height:24px; }
.process_01{ float:left; width:170px;}
.process_01 li{ width:170px; height:120px;}
.process_01 .line{height:55px;  width:60px; left:110px;}
.process_01 .player01{margin-top:0px;}
.process_01 .player02{margin-top:6px;}

.process_02{ float:left; width:190px; margin-top:28px}
.process_02 li{ width:170px; padding-left:20px; height:240px;}
.process_02 .line{height:120px;  width:190px; left:0px;}
.process_02 .player01{margin-top:0px;}
.process_02 .player02{margin-top:72px;}


.process_03{ float:left; width:190px; margin-top:90px}
.process_03 li{ width:170px; padding-left:20px; height:480px;}
.process_03 .line{height:240px;  width:190px; left:0px;}
.process_03 .player01{margin-top:0px;}
.process_03 .player02{margin-top:192px;}

.process_04{ float:left; width:190px; margin-top:210px}
.process_04 li{ width:170px; padding-left:20px; height:960px}
.process_04 .line{height:480px;  width:190px; left:0px;}
.process_04 .player01{margin-top:0px;}
.process_04 .player02{margin-top:431px;}

.process_05{ float:left; width:160px; margin-top:450px}
.process_05 li{ width:170px; padding-left:20px;}
.process_05 .player01{margin-top:-5px;}
.process .line-final{ position: absolute; top:18px;  border:1px #ccc solid;   z-index:1; width:100px; left:0px; border-bottom:0px;  border-right:0px; height:1px;}
.battle{ margin-top:10px;  border-top:1px #c30 solid; }
.battle_l{ float:left; width:155px;  overflow:hidden; margin-top:10px}
.battle_l ul{ margin-top:-1px; }
.battle_l li{ float:left}
.battle_l li a{ border-top:1px #ddd dotted; display:block; width:140px; height:28px; background:#fff; text-align:center; line-height:28px; font-size:14px;}
.battle_l li a:hover{ text-decoration:none; background:#999; color:#fff; border:0px; height:28px; border-top:1px #fff solid}
.battle_l li .cur{ text-decoration:none; background:#999; color:#fff;  height:28px;  border-top:1px #fff solid}
.battle_r{ float:left; width:780px;}

.mc_table{}
.mc_table table{border-collapse: separate;
    border-spacing: 1px; font-size:12px}
.mc_table th{ background:#f0f0f0; padding:4px 5px; height:20px; line-height:20px;}
.mc_table td{ padding:4px 5px;  height:20px; line-height:20px; text-align:center; background:#fff}
.mc_table .cur td{background:#ffffdd;}
.mc_table .name{ text-align:left; position:relative; width:360px; z-index:2px;}
.mc_table .name .zhushi{ position:absolute; top:1px; left:160px; width:150px; height:18px; overflow:hidden; line-height:18px; color:#999; font-size:12px; z-index:3;}
.mc_table .name .zhushi_bg{border:1px #ddd solid; padding:5px 5px 5px 5px; left:162px;  width:145px; background:#fff; }
.mc_table .name .zhushi em{ background-position:-168px -130px; width:16px; height:16px; position:absolute; right:10px; top:0px; display:none;  cursor:pointer;  z-index:4}
.mc_table .name .zhushi span{ display: block; width:110px; overflow:hidden; height:18px; font-weight:normal; font-size:12px; float:left}
.mc_sub{margin:0px auto; width:700px; padding:40px 139px; background:#fff; border:1px #ddd solid; margin-top:20px;}
.mc_sub_tt{font-size:20px; font-weight:normal; display:block; height:48px;}
.mc_sub_txt{border:1px #ddd solid; width:700px; height:360px;}
.mc_zb{margin:0px auto; width:900px; padding:40px 39px; background:#fff; border:1px #ddd solid; margin-top:20px; overflow:hidden}
.mc_zb_tt{font-size:20px; font-weight:normal; display:block; height:48px;}
.mc_zb_txt{ padding-top:20px; font-size:14px; line-height:24px;}

.join{ padding-top:20px;}
.join_tt{height:32px; border-bottom:1px #ddd solid}
.join_tt h3{ font-size:16px; font-weight:normal; float:left; width:120px; line-height:18px;}
.join_tt .jo_sch{ float:left}
.join_tt .jo_sch .inpt{ border:1px #ddd solid; height:16px; line-height:18px; padding:2px 5px; float:left; width:160px;}
.join_tt .jo_btn{background: url(/images/front/public_btn.png) no-repeat 0px 0px; width:62px; height:24px; border:0px; margin-left:10px; cursor:pointer; float:left; text-align:center; line-height:24px; color:#fff}
.join_tt .jo_btn:hover{ text-decoration:none;}
.join_tb{ padding-top:20px}
.join_tb li{ float:left; height:26px; padding:0px 20px 10px 0px;}
.join_tb span{ display:block; height:24px; font-size:14px; line-height:22px; border:1px #ddd solid; padding:0px 32px 0px 10px;  position: relative}
.join_tb span .close{ top:0px; right:0px}
.g_star{ padding-top:20px; height:60px; padding-left:380px;}
.g_star .btn{background:url(../img/match.png) no-repeat 0px -154px; width:164px; height:40px; display:block; float:left}
.g_star .btn:hover{background:url(../img/match.png) no-repeat 0px -199px;}
.g_star .btn_ing{background:url(../img/match.png) no-repeat 0px -244px; width:164px; height:40px; display:block; float:left}
.match_go{height:40px; padding-top:20px;}
.match_go .btn, .match_go .btn_ing{ background: url("/images/front/sub.png") no-repeat;}
.match_go .btn {
    background-position: 0 -40px;
    border: 0 none;
    display: inline-block;
    float: left;
    height: 41px;
    padding-left: 14px;
    width: 165px;
	cursor:pointer
}
.match_go .btn:hover {
    background-position: 0 -85px;
}

.match_go .btn_ing {
    background-position: 0 -540px;
	border: 0 none;
    display: inline-block;
    float: left;
    height: 41px;
    padding-left: 14px;
    width: 165px;
	cursor:pointer
}

.champion span{ display:none}
.setwin{ display:inline-block; font-size:12px; padding:0px 2px; line-height:16px; color:#fff}
.setwin_01,.setwin_02,.setwin_03{background:url(/images/front/setwin-ico_bg.png) no-repeat; }
.setwin_01{background-position:0px 0px;}
.setwin_02{background-position:-16px 0px;}
.setwin_03{background-position:-32px 0px;}


