.boxLoading {
	width: 500px;
	height: 500px;
	margin: auto;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.boxLoading:before {
	content: ' ';
	width: 500px;
	height: 50px;
	background-color: #000000;
	opacity: 0.1;
	position: absolute;
	top: 520px;
	left: 0;
	border-radius: 50%;
	animation: shadow .5s linear infinite;
}

.boxLoading:after {
	content: ' ';
	width: 500px;
	height: 500px;
	background-color: skyblue;
	animation: animation .5s linear infinite;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 30px;
}

@keyframes animation {
	17% {
		border-bottom-right-radius: 30px;
	}

	25% {
		transform: translateY(9px) rotate(22.5deg);
	}

	50% {
		transform: translateY(18px) scale(1, 0.9) rotate(45deg);
		border-bottom-right-radius: 300px;
	}

	75% {
		transform: translateY(9px) rotate(67.5deg);
	}

	100% {
		transform: translateY(0) rotate(90deg);
	}
}

@keyframes shadow {

	0%,
	100% {
		transform: scale(1, 1);
	}

	50% {
		transform: scale(1.3, 1);
	}
}

body {
	margin: 0;
	padding: 0;
	background-color: ;
}
a{
	position: absolute;
	top:400px;
	left: 100px;
	text-decoration: none;
	color: skyblue;
	font-size: 40px;
}
