<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		
		<style type="text/css">
			/* no grouping */
			h1 {color:blue;}
			h2 {color:blue;}
			h3 {color:blue;}
			h4 {color:blue;}
			h5 {color:blue;}
			h6 {color:blue;}
			
			/* grouping */
			h1, h2, h3, h4, h5, h6 {color:red;}
			/* 属性选择器 */
			[title]{
				color: #228B22;
			}
			img{
				display: none;
			}
			/* 选择开头前缀包含“http”的 */
			 [src^="http"]{
				display: block;
			} 
		</style>
	</head>
	<body>
		<h1 title="">这是H1标题</h1>
		<h2 title="">这是H2标题</h2>
		<h3 title="">这是H3标题</h3>
		<h4 title="">这是H4标题</h4>
		<h5 title="">这是H5标题</h5>
		<h6 title="">这是H6标题</h6>
		
		<!--当图片地址为空（加载失败的时候）-->
		<img src="https://icon.qiantucdn.com/static/images/public/logo-j.svg" />
		
		<!--第二张加载不上来的图片-->
		<img src="{{img}}" />
		
		
	</body>
</html>
