body,ul,li {
    margin: 0;
    padding: 0;
    text-align: center;
}
a{
    text-decoration: none;
}

.xm-logo {
    margin: 50px 0 10px;
    display: inline-block;
    width: 50px;
    height: 50px;
}

.xm-title {
    font-weight: 300;
}

.xm-input {
    width: 300px;
    height: 44px;
    margin-bottom: 15px;
    padding-left: 10px;
    font-size: 14px;
}

.xm-login {
    list-style: none;
}

button {

}

.xm-button {
    display: inline-block;
    width: 315px;
    height: 44px;
    margin-bottom: 15px;
    background-color: #551fff;
    color: white;
    font-size: 14px;
    border: none;
}
